.blog__wrapper {
  @include site-width;
  background-color: $off-white;
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 140px 40px;
  position: relative;
}

.blog__row {
  position: relative;
  border: 20px solid $white;
  margin: auto;
}

// .blog__col {
  
// }

a {
  color: $charcoal;
}

h2 {
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
}