.blog__wrapper {
  @include site-width;
  background-color: $off-white;
  display: flex;
  align-items: center;
  justify-items: center;;
  padding: 40px;
}

.blog__items {
  border: 20px solid $white;

}

a {
  color: $charcoal;
}