.container-fluid {
  @include site-width;
}

.post__body {
  padding: 40px 0;
}

.post-wrapper {
  margin: 0 auto;
}

.post-image {
  display: block;
  margin: 40px auto;
  width: 100%;
}

.post-header {
  border-bottom: 1px solid lightgrey;
}

.post__back-link {
  cursor: pointer;
  margin-top: 20px;
  img {
    margin-right: 10px;
  }
}

.related-posts {
  background-color: $off-white;
  justify-content: center;
  padding: 40px 0;
}

.blog__paginate-btn {
  background-color: $primary-background-color;
  border: 1px solid $light-grey;
  border-radius: 5px;
  margin: 0 auto;
  a {
     padding: 8px 25px;
  }
  span {
    color: $primary-text-color;
  }
}

.post__sidebar {
  margin-top: 40px;
}

.post__social-links {
  justify-content: flex-start; 
  margin-top: 20px;
  a:nth-child(2) {
    margin: 0 10px;
  }
  img {
    border-radius: 20px;
  }
}
