@import "../../styles/styles.scss";

.blogWrapper {
  @include site-width;
  align-items: center;
  background-color: $off-white;
  display: flex;
  justify-items: center;
  padding: 40px 40px;
  position: relative;
}

.blogHero {
  width: 100%;
  margin: 0 auto 20px auto;
  border: 20px solid white;
  background-color: $white;
}

.blogRow {
  border: 20px solid $white;
  margin: 0 auto 20px auto;
  background-color: $white;
}

.blogColumn {
    justify-content: space-between;
}
  
.blogTitle {
  color: $white;
  left: 50%;
  position: absolute;
  top: 40%;
  transform: translate(-50%, -50%);
}

p {
  color: $primary-text-color;
  margin: 10px auto 0 auto;
}

.blogPaginateRow {
  margin: 40px 0;
}

.blogPaginateBtn {
  background-color: $primary-background-color;
  border: 1px solid $light-grey;
  border-radius: 5px;
  margin: 0 auto;
  a {
     padding: 8px 25px;
  }
  span {
    color: $primary-text-color;
  }
}