// Color Variables
$white: #FFFFFF;
$off-white: #FAFAFA;
$darker-off-white: #FBFBFB;
$very-light-grey: #F5F5F5;
$light-grey: #F7F7F7;
$light-medium-grey: #F9F9F9;
$medium-grey: #E5E5E5;
$dark-grey: #333;
$charcoal: #191919;
$black: #000000;

$aqua: #46ebff;
$pink: #CF65FF;
$pink-sunset: #D9669D;
$blood-orange: #CE3B31;
$mauve: #A395F6;
$lavender: #8281F0;
$purple: #7159FF;
$deep-purple: #5E49D7;
$light-blue: #4696ff;
$sky-blue: #4A7BFF;
$medium-blue: #0F6BFF;
$slate: #5C67A0;


// Section and Layout text, backgrounds & borders
$primary-text-color: $black;
$secondary-text-color: $white;
$tertiary-text-color: $charcoal;

$primary-background-color: $white;
$secondary-background-color: $light-medium-grey;
$tertiary-background-color: $light-grey;

$header-navbar-background-color: $white;
$header-subnav1-background-color: $black;
$header-subnav2-background-color: $white;

$footer-primary-backround-color: $black;
$footer-demo-background-color: $medium-blue;

$header-border-color: $light-medium-grey;


// NuraNow Select Plan color pallette
$plan1-heading-background-color: $pink;
$plan2-heading-background-color: $sky-blue;
$plan3-heading-background-color: $lavender;

$plan1-background-color: $very-light-grey;
$plan2-background-color: $sky-blue;
$plan3-background-color: $very-light-grey;

$plan1-cta-background-color: $pink;
$plan2-cta-background-color: $sky-blue;
$plan3-cta-background-color: $lavender;

// CTA's
$checkout-cta-background-color: $medium-blue;


// ------ Gradient variabels **Example** See mixins for class naming ----- //
$gradients: () !default;
$gradients: map-merge((
    chill: linear-gradient(135deg, #09e485 0%,#0291e3 100%),
    warm: linear-gradient(135deg, #F2CD48 0%,#FD803F 100%),
    hot: linear-gradient(135deg, #F9445A 0%,#FD803F 100%),
    cold: linear-gradient(135deg, #8019C6 0%,#2F93CC 100%)
), $gradients);


