@import "../../styles/styles.scss";

.footer {
  padding-top: 40px;
  background: $charcoal;
  height: 300px;
  width: 100%;
  color: $white;
  text-align: center;
}

.footerWrapper {
  @include site-width;
  margin: 0 auto;
}
