@import "../../styles/styles.scss";

.footer {
  padding-top: 40px;
  background: $charcoal;
  height: 300px;
  width: 100%;
  h1 {
    color: $white;
    // text-align: center;
    // width: 100%;
  }
}

.footer__row {
  // @include site-width;
  margin: 0 auto;
}

.col {
  color: $white;
}