.footer {
  @include site-width;
  padding-top: 60px;
  display: flex;
  background: $charcoal;
  height: 200px;
  h1 {
    color: $white;
    text-align: center;
    width: 100%;
  }
}

.col {
  color: $white;
}