@import "../../styles/styles.scss";

.post {

}

.postWrapper {
  @include site-width;
  margin: 0 auto;
}

.postBody {
  padding: 40px 0;
}

.postImage {
  display: block;
  margin: 40px auto;
  width: 100%;
}

.postHeader {
  border-bottom: 1px solid lightgrey;
}

.postBackLink {
  cursor: pointer;
  margin-top: 20px;
  img {
    margin-right: 10px;
  }
}

.relatedPostsSection {
  background-color: $off-white;
  justify-content: center;
  padding-top: 40px;
}

.relatedPost {
  // @include site-width;
    // border: 20px solid $white;
  img {
    width: 100%;
    height: auto;
  }
}

.blogPaginateRow {
  background-color: $off-white;
  padding: 40px 0;
}

.blogPaginateBtn {
  background-color: $primary-background-color;
  border: 1px solid $light-grey;
  border-radius: 5px;
  margin: 0 auto;
  a {
     padding: 8px 25px;
  }
  span {
    color: $primary-text-color;
  }
}

.postSidebar {
  margin-top: 40px;
}

.postSocialLinks {
  justify-content: flex-start; 
  margin-top: 20px;
  a:nth-child(2) {
    margin: 0 10px;
  }
  img {
    border-radius: 20px;
  }
}
