@mixin site-width {
  position: relative;
  display: block;
  max-width: 1200px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
}

@mixin blog-post-width {
  display: block;
  max-width: 800px;
  margin-bottom: 40px;
  margin-left: 142px;
  padding-top: 20px;
}